# Project: cleanning - [candy data]
### this notebook is for educational purpose . in this notebook we will do some cleanning

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">wrangling</a></li>
  
</ul>

<a id='intro'></a>
## Introduction

### Dataset Description 

> i will go through candy data 2017 , this data has :
- Internal_ID
- Q1-Going Out?: Are you actually going trick or treating yourself? "has values `Yes or No`"
- Q2-Gender: It has four different options, `Femal ,Male ,Other ,I'd rather not say`
- Q3-Age: Numerical field
- Q4-Country: Text Field, but users have written their own version of the names. Example, for America, there are entries such as USA, us, US, America so we should consider that while cleanning
- Q5-State/Province: Text Field, but users have written their own version of the names. Same as the country data.
- Q6-Joy Or Despair: All kinds of chocolate bars are the questions with three distinct options to choose from (Joy, Meh, Despair).
- Q7-Joy Other: Text Field to write items not included above that give you JOY. Lots of missing values.
- Q8-Despair Other: Text Field ti write items not included above that give you DESPAIR. Lots of missing values.
- Q9-Other Comments: Text Field. Lots of missing values.
- Q10-Dress: Binary field. Missing values present
- Unnamed: 113
- Q11-Day: Binary Answer Field. Missing values present

# 1- import packages and load data

In [3]:
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np


df = pd.read_csv("candyhierarchy2017.csv",encoding = 'cp1252')
df

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1962,90284304,No,Male,36,USA,California,MEH,DESPAIR,JOY,MEH,...,NaN,NaN,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(76, 25)"
1963,90284318,No,Male,49,USA,CA,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1964,90284354,No,Female,36,Switzerland,Vaud,MEH,DESPAIR,JOY,MEH,...,NaN,NaN,White and gold,NaN,Friday,NaN,NaN,NaN,1.0,"(75, 71)"
1965,90284362,No,Male,31,usa,ny,MEH,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(64, 31)"
1966,90284369,No,Male,47,United States,New York,JOY,DESPAIR,JOY,DESPAIR,...,Used dog poo bags,Dark chocolate options of anything always rate...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<a id='wrangling'></a>
## Data Wrangling



### General Properties

# 2- show some general properties for the data

In [ ]:
df.dtypes
#df.sample()
#df.isna().sum()
#df.describe()
#print(df.duplicated().sum())

Internal ID                   int64
GOING                        object
GENDER                       object
AGE                          object
COUNTRY                      object
                             ...
DailyDish                   float64
SCIENCE                     float64
ESPN                        float64
YAHOO                       float64
Click Coordinates (x, y)     object
Length: 120, dtype: object

# 3- write summary about what you get form the above functions
> #### tips : this summary can be about : if there is any missing values , if there a wrong data type , if there a wrong range of values , ....

In [ ]:
#tthere are lots of nan vlaues , unamed columns , same words written in different ways

# cleaning

### 4- drop all the useless columns and  rows with too much NaN , 
> tip : useless columns can be like `Internal ID`and can be also columns with too much NaN 
- rename columns for easy access

In [4]:
df= df.rename(columns = {'Q1: GOING OUT?' :'GOING','Q2: GENDER':'GENDER','Q3: AGE':'AGE','Q4: COUNTRY':'COUNTRY', 'Q5: STATE, PROVINCE, COUNTY, ETC':'PLACE','Q8: DESPAIR OTHER':'DESPAIR OTHER','Q9: OTHER COMMENTS':'OTHER COMMENTS','Q10: DRESS' : 'DRESS','Q11: DAY': 'DAY','Q12: MEDIA [Daily Dish]' : 'DailyDish','Q12: MEDIA [Science]':'SCIENCE','Q12: MEDIA [ESPN]' :'ESPN', 'Q12: MEDIA [Yahoo]': 'YAHOO'})
df.columns

Index(['Internal ID', 'GOING', 'GENDER', 'AGE', 'COUNTRY', 'PLACE',
       'Q6 | 100 Grand Bar',
       'Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)',
       'Q6 | Any full-sized candy bar', 'Q6 | Black Jacks',
       ...
       'DESPAIR OTHER', 'OTHER COMMENTS', 'DRESS', 'Unnamed: 113', 'DAY',
       'DailyDish', 'SCIENCE', 'ESPN', 'YAHOO', 'Click Coordinates (x, y)'],
      dtype='object', length=120)

### 5 - clean `going out` column 
> tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [ ]:
df['GOING'].fillna('Not Sure')

0       Not Sure
1             No
2       Not Sure
3             No
4             No
          ...
2455          No
2456          No
2457          No
2458          No
2459          No
Name: GOING, Length: 2460, dtype: object

### 6 - clean ` gender` column 
> tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [ ]:
df['GENDER']=df['GENDER'].fillna('Iwould rather not say',inplace = True)

### 7 - clean ` age` column 
> tip : note the type of age column , and NaN values
 - try to use `to_numeric` 
 - tip : you should choose which best value to put in place of these NaNs ( mean, median, ....etc)

In [ ]:

df['AGE'].value_counts()
df['AGE'].unique()
df['AGE'].replace(['old enough','45-55','24-50','?','no','Many','hahahahaha','older than dirt','Enough','See question 2','old','ancient','old enough','5u','46 Halloweens.','sixty-nine','Over 50','OLD','MY NAME JEFF','59 on the day after Halloween','your mom'
                      'I can remember when Java was a cool new language', '60+'],np.nan,inplace=True)
df['AGE'].unique()
df['AGE'].replace([312,1000,'Old enough','your mom','I can remember when Java was a cool new language','70 1/2'],np.nan,inplace=True)
df['AGE'].unique()
df['AGE']= pd.to_numeric(df['AGE']) 
df['AGE']=df['AGE'].fillna(df['AGE'].mean())
df['AGE'].unique()

array([ 42.60544449,  44.        ,  49.        ,  40.        ,
        23.        ,  53.        ,  33.        ,  43.        ,
        56.        ,  64.        ,  37.        ,  59.        ,
        48.        ,  54.        ,  36.        ,  45.        ,
        25.        ,  34.        ,  35.        ,  38.        ,
        58.        ,  50.        ,  47.        ,  16.        ,
        52.        ,  63.        ,  65.        ,  41.        ,
        27.        ,  31.        ,  61.        ,  46.        ,
        42.        ,  62.        ,  29.        ,  39.        ,
        32.        ,  28.        ,  69.        ,  67.        ,
        30.        ,  22.        ,  26.        ,  51.        ,
        70.        ,  24.        ,  18.        ,  19.        ,
        57.        ,  60.        ,  66.        ,  12.        ,
        55.        ,  72.        ,  21.        ,  11.        ,
         9.        ,  68.        ,  20.        ,   6.        ,
        10.        ,  71.        ,  90.        ,  13.        ,
        42.10634396,  99.        ,   7.        ,  88.        ,
        39.4       ,  74.        , 102.        ,  17.        ,
        15.        ,   8.        ,  75.        ,  14.        ,
       100.        ,  76.        ,  77.        ,  73.        ,
         1.        ,   4.        ])

### 8 - clean ` country` column
> tip : note that country column has country names with different writing ways 
  - use fuzzywuzzy to deal with this problem
  - you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [6]:
! pip install fuzzywuzzy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

In [ ]:
df['COUNTRY'].unique()

array([nan, 'USA ', 'USA', 'us', 'usa', 'canada', 'Canada', 'Us', 'US',
       'Murica', 'United States', 'uk', 'United Kingdom', 'united states',
       'Usa', 'United States ', 'United staes',
       'United States of America', 'UAE', 'England', 'UK', 'canada ',
       'Mexico', 'United states', 'u.s.a.', 'USAUSAUSA', 'america', '35',
       'france', 'United States of America ', 'U.S.A.', 'finland',
       'unhinged states', 'Canada ', 'united states of america',
       'US of A', 'Unites States', 'The United States', 'North Carolina ',
       'Unied States', 'Netherlands', 'germany', 'Europe', 'Earth', 'U S',
       'u.s.', 'U.K. ', 'Costa Rica', 'The United States of America',
       'unite states', 'U.S.', '46', 'cascadia', 'Australia',
       'insanity lately', 'Greece', 'USA? Hard to tell anymore..',
       "'merica", 'usas', 'Pittsburgh', '45', 'United State', '32',
       'France', 'australia', 'A', 'Can', 'Canae', 'New York',
       'Trumpistan', 'Ireland', 'United Sates', 'Korea', 'California',
       'Japan', 'USa', 'South africa',
       'I pretend to be from Canada, but I am really from the United States.',
       'Usa ', 'Uk', 'Iceland', 'Germany', 'Canada`', 'Scotland', 'UK ',
       'Denmark', 'United Stated', 'France ', 'Switzerland',
       'Ahem....Amerca', 'UD', 'Scotland ', 'South Korea', 'New Jersey',
       'CANADA', 'Indonesia', 'United ststes', 'America',
       'The Netherlands', 'United Statss', 'endland', 'Atlantis',
       'murrika', 'USA! USA! USA!', 'USAA', 'Alaska', 'united States ',
       'soviet canuckistan', 'N. America', 'Singapore', 'USSA', 'China',
       'Taiwan', 'Ireland ', 'hong kong', 'spain', 'Sweden', 'Hong Kong',
       'U.S. ', 'Narnia', 'u s a', 'United Statea', 'united ststes', '1',
       'subscribe to dm4uz3 on youtube', 'United kingdom',
       'USA USA USA!!!!', "I don't know anymore", 'Fear and Loathing'],
      dtype=object)

In [7]:
df['COUNTRY'].unique()
df['COUNTRY']=df['COUNTRY'].str.upper()
df['COUNTRY'].unique()
df['COUNTRY'].value_counts()

from fuzzywuzzy import process
country = ['USA','Canda','UK','Mexico','France','Finland','Greece','Netherlands','Germany', 'South Korea','Singapore','China','Spain','Scotland','Switzerland','Sweden','Ireland','Iceland','Australia','England','Tiwan']
for Country in country:
  matches = process.extract(Country,df['COUNTRY'],limit=len(df['COUNTRY']))
  for potential_match in matches:
    if potential_match[1] >=80:
      df.loc[df['COUNTRY']==potential_match[0]]=Country
df['COUNTRY'].fillna('USA',inplace = True)

/usr/local/lib/python3.7/dist-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

### 9 - clean ` area` column
> tip : area column has the same problem as country columns , but looking at all it's unique values may give us another way to deal with it rather than try to fix it

In [8]:
df['PLACE'].value_counts()
df['PLACE']=df['PLACE'].str.upper()
df['PLACE'].fillna('CALIFORNIA',inplace=True)
#we can use the same thing we did with fuzzywuzzy

### 10 - clean ` Q6` columns
>- tip : Q6 has all kinds of chocolate bars and questions with three distinct options to choose from (Joy, Meh, Despair).
- so all the column that has Q6 is a candy name , so you should go through all these column and you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [ ]:

candy_list= [x for x in df.columns if 'Q6' in str(x)]
data=pd.DataFrame(df[candy_list])
data.shape
data = data.dropna(axis = 0,how='all')
data.head(5)

,Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,Q6 | Bonkers (the candy),Q6 | Bonkers (the board game),Q6 | Bottle Caps,Q6 | Box'o'Raisins,Q6 | Broken glow stick,Q6 | Butterfinger,...,Q6 | Three Musketeers,Q6 | Tolberone something or other,Q6 | Trail Mix,Q6 | Twix,"Q6 | Vials of pure high fructose corn syrup, for main-lining into your vein",Q6 | Vicodin,Q6 | Whatchamacallit Bars,Q6 | White Bread,Q6 | Whole Wheat anything,Q6 | York Peppermint Patties
1,MEH,DESPAIR,JOY,MEH,DESPAIR,DESPAIR,DESPAIR,DESPAIR,DESPAIR,DESPAIR,...,JOY,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,DESPAIR,DESPAIR,DESPAIR,DESPAIR
3,MEH,DESPAIR,JOY,MEH,MEH,DESPAIR,MEH,DESPAIR,DESPAIR,MEH,...,DESPAIR,JOY,MEH,JOY,DESPAIR,JOY,JOY,DESPAIR,DESPAIR,DESPAIR
4,JOY,DESPAIR,JOY,DESPAIR,MEH,DESPAIR,MEH,DESPAIR,DESPAIR,MEH,...,JOY,JOY,DESPAIR,JOY,MEH,JOY,JOY,DESPAIR,DESPAIR,JOY
5,JOY,DESPAIR,JOY,NaN,NaN,NaN,MEH,MEH,DESPAIR,JOY,...,JOY,JOY,MEH,JOY,DESPAIR,DESPAIR,JOY,DESPAIR,DESPAIR,JOY
7,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,MEH,JOY,MEH,JOY,JOY,...,JOY,MEH,DESPAIR,JOY,JOY,MEH,DESPAIR,DESPAIR,DESPAIR,DESPAIR

### 11 - clean ` dress` column
>tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [ ]:
df['DRESS'].value_counts()


df['DRESS'].fillna('WHITE AND GOLD',inplace=True)

### 12 - clean ` day` column
>tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [ ]:
df['DAY'].mode()
df['DAY'].fillna('FRIDAY',inplace=True)

### 13 - check
> after finish cleaning you should make sure your data is clean and that :
- there is no wrong data type
- there is no NaN values 
- all the column are cleaing and ready for the next step `EDA`

### 14 - write a summary about all the cleaning steps

In [ ]:
#first we read data then get general proprties about its attributes 
#then we change the columns names for easier access , we fill the na values with convenient data like the mode of the column , with fuzzywuzzy we change the similiar values with one right value

In [ ]:
df['GOING']=df['GOING'].index 
sns.scatterplot(x='GOING',y='AGE')
plt.show()

ValueError: ignored